/*body{
    background-color: rgba(0, 4, 255, 0);
}
h1{
    color: blue;
    font-weight: bold;
}
h2{
    color:rgb(95, 141, 181);
}

.info_paragraph{
    max-width: 1000px;
    font-size: 20px;
}

.list{
    top: 525px;
    left: 225px;
    right: 650px;
    position: absolute;
    background-color:rgb(170, 214, 253);
    border: 1.5px solid blue;
    font-size: 18px;
}

.underline{
    text-decoration:underline;
}

.sidebar{
    right: 25px;
    left: 1040px;
    top: 15px;
    position: fixed;
    background-color:rgb(170,214,253);
    border: 1.5px solid blue;
}
